body {
    background-color: rgb(38, 29, 44);
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
    color: rgb(149, 50, 241);
  margin-bottom: 15px;
}

input {
  padding: 6px;
  width: 200px;
  border-radius: 10px;
}

button {
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#todoList {
  margin-bottom: 15px;
  border-radius: 10px;
}

h4 {
  background: #ffffff;
  padding: 8px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

h4 button {
  padding: 4px 8px;
}
